<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByXgJVM74cSC3BVIs3fMH6OYhTbfdbAKo</string>
	<key>GCM_SENDER_ID</key>
	<string>963036948422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cakeBaru</string>
	<key>PROJECT_ID</key>
	<string>ayobisa-e14c1</string>
	<key>STORAGE_BUCKET</key>
	<string>ayobisa-e14c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963036948422:ios:425a059029cd916f1234c7</string>
</dict>
</plist>